body{
    background-image: url(https://i.pinimg.com/originals/e5/72/11/e57211acb568d7ae83d77a449ca08549.jpg);
    background-color:rgba(0,0,0,0.5);
    background-blend-mode:multiply;
    background-size:auto;
    background-repeat:no-repeat;
}
 
  #navbar .btn {
    border:0px solid transparent;
  }
  #navbar .btn-default.focus, #navbar .btn-default:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  #navbar li.nav-item a {
    font-weight:700;
    color:#333;
  }
  #navbar li.nav-item a:hover {
    color:#fff;
  }
  .navbar-brand{
    font-family: cursive;
    letter-spacing: 2px;
  }
  
  .bg-black {
    background-color: rgba(000,000,000,0.5);
    border: 4px double rgba(255,255,255,0.3);
    height: 100%;
}
label {
    font-weight: 600;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow:2px 2px 4px #0371ca;
  letter-spacing: 4px;
}
textarea.form-control {
  height: 135px;
}
.footer {
    position: relative;
    bottom: 0; 
    left: 0;
    right: 0;  
    margin: 0 auto ;
    text-align: center;
    width: 100% ;
    color: white;
  } 
 